@font-face {
    font-family: electrolize;
    src: url(../fonts/Iceland-Regular.ttf);
}

html {
    font-size: 18px;
}

html.lenis,
html.lenis body {
    height: auto;
    margin: 0;
    background-color: #0e0c12;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.wrapper {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;

}


.barraNavegacion {
    box-sizing: border-box;
    background-image: url(../img/dude.png);
    background-size: cover;
    background-position: center;

    position: relative;
    top: 0;
    z-index: 20;


    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    height: 100vh;

    animation: encogerBarra both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 75%;
}

.barraNavegacion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

@keyframes encogerBarra {
    0% {
        height: 100vh;
    }

    100% {
        height: 8vh;
    }
}

.navMenu {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    width: fit-content;
    position: absolute;
    z-index: 30;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    animation: navMenuMoverDerecha both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 75%;
}

@keyframes navMenuMoverDerecha {
    0% {
        font-size: 1.802rem;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    100% {
        font-size: 1.424rem;
        top: 50%;
        right: 1rem;
        transform: translate(0%, -50%);
    }
}


.navItem {
    text-decoration: none;
    font-family: electrolize;
    transition: transform 0.3s;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    filter: drop-shadow(0 0 0.75rem #f75c14);

    font-size: inherit;

    border: 3px solid #4e4360;
    box-shadow: none;
    color: #4e4360;
    text-shadow: none;

    animation: parpadearBorde, parpadearTexto;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, alternate;
    animation-timing-function: cubic-bezier(0.00, 0.99, 1.00, 0.01), cubic-bezier(0.00, 0.99, 1.00, 0.01);
}

.navItem:hover {
    transform: scale(1.05);
}


.nombreCont {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 2.027rem;
    z-index: 30;



    animation: moverNombre both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 75%;
}

.nombre {
    color: #4e4360;
    font-size: inherit;
    font-family: electrolize;
    text-shadow: none;

    animation: parpadearTexto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.00, 0.99, 1.00, 0.01);
}

@keyframes moverNombre {
    0% {
        font-size: 2.027rem;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);

    }

    100% {
        font-size: 1.424rem;
        top: 50%;
        left: 1rem;
        transform: translate(0, -50%);
    }
}


.palabrasClave {
    display: flex;
    gap: 3rem;
    color: #4e4360;
    font-family: electrolize;
    font-size: 1.802rem;
    z-index: 30;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    opacity: 1;

    animation: parpadearTexto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.00, 0.99, 1.00, 0.01);
}

.clave1 {
    animation: clave1Fade both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 35%;
}

.clave2 {
    animation: clave2Fade both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 20%;
}

.clave3 {
    animation: clave3Fade both;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-range-end: 5%;
}


@keyframes clave1Fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }

}

@keyframes clave2Fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);

    }
}

@keyframes clave3Fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);

    }
}

.contSpotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}

.spotlight {
    width: 100vw;
    height: 400px;
    background: radial-gradient(
        ellipse at center,
        rgba(92, 62, 148, 0.35) 0%,
        rgba(65, 43, 107, 0.15) 20%,
        rgba(33, 24, 50, 0.05) 40%,
        transparent 80%
    );
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}



.mainContent {
    box-sizing: border-box;
    position: relative;
    display: flex;
    z-index: 5;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30rem;
    margin-top: 70rem;
    gap: 2rem;
    view-timeline: --contenedoresLed block;
}

.contenedorLed {
    position: relative;
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    border-radius: 0.5rem;
    padding: 1rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.contenedorLed::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    border: 3px solid #4e4360;
    opacity: 0;
    transform: scale(1.05);

    animation-name: aparecerBorde, parpadearBorde;

    animation-duration: 0.001s, 1s;

    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both, none;
    animation-timing-function: linear, cubic-bezier(0.00, 0.99, 1.00, 0.01);

    animation-timeline: --contenedoresLed, auto;

    animation-range-start: 20%, normal;
    animation-range-end: 60%, normal;
}

@keyframes aparecerBorde {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.yoMismisimo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    border: 3px solid #4e4360;
    box-shadow: none;

    animation-name: aparecerYoMismisimo, parpadearBorde;

    animation-duration: 0.001s, 1s;

    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both, none;
    animation-timing-function: linear, cubic-bezier(0.00, 0.99, 1.00, 0.01);

    animation-timeline: --contenedoresLed, auto;

    animation-range-start: 30%, normal;
    animation-range-end: 50%, normal;
}

@keyframes aparecerYoMismisimo {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.ledhead {
    color: #4e4360;
    text-shadow: none;

    animation-name: aparecerTextoFromSide, parpadearTexto;

    animation-duration: 0.001s, 1s;

    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both, none;
    animation-timing-function: linear, cubic-bezier(0.00, 0.99, 1.00, 0.01);

    animation-timeline: --contenedoresLed, auto;

    animation-range-start: 30%, normal;
    animation-range-end: 50%, normal;
}

.fromSideP {
    animation-name: aparecerTextoFromSide;

    animation-duration: 0.001s;

    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: linear;

    animation-timeline: --contenedoresLed;

    animation-range-start: 30%;
    animation-range-end: 50%;
}

@keyframes aparecerTextoFromSide {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.white {
    color: #faeaff;
}

@keyframes parpadearTexto {
    0% {
        color: #4e4360;
        text-shadow: none;
    }

    30% {

        color: #b2a4c6;
        text-shadow: 0 0px 16px #b2a4c6;

    }

    80% {
        color: #4e4360;
        text-shadow: none;
    }

    100% {
        color: #b2a4c6;
        text-shadow: 0 0px 4px #b2a4c6;

    }
}


@keyframes parpadearBorde {
    0% {
        border: 3px solid #4e4360;
        box-shadow: none;
    }

    30% {
        border: 3px solid #F25912;
        box-shadow: 0 0 8px 2px #F25912, inset 0 0 8px 2px #F25912;
    }

    80% {
        border: 3px solid #4e4360;
        box-shadow: none;
    }

    100% {
        border: 3px solid #f75c14;
        box-shadow: 0 0 20px 4px #f75c14, inset 0 0 20px 4px #f75c14;
    }
}