.turboGrid {
    display: grid;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "exp comen1 comen2 tecs"
        "exp comen3 comen4 tecs"
        "det det det tecs";
}

.expCont {
    grid-area: exp;
}

.expDetalle {
    grid-area: det;
}

.comen1 {
    grid-area: comen1;
}

.comen2 {
    grid-area: comen2;
}

.comen3 {
    grid-area: comen3;
}

.comen4 {
    grid-area: comen4;
}

.tecsCont {
    grid-area: tecs;
}

.gridCont {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;


    border: 3px solid #4e4360;
    box-shadow: none;
    border-radius: 0.5rem;

    animation: parpadearBorde;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.00, 0.99, 1.00, 0.01);
}

.tecIconList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}

.imgIcon {
    max-width: 80px;
    object-fit: contain;
}

.expDetalle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 2rem;
}


@keyframes parpadearBorde {
    0% {
        border: 3px solid #4e4360;
        box-shadow: none;
    }

    30% {
        border: 3px solid #F25912;
        box-shadow: 0 0 8px 2px #F25912, inset 0 0 8px 2px #F25912;
    }

    80% {
        border: 3px solid #4e4360;
        box-shadow: none;
    }

    100% {
        border: 3px solid #f75c14;
        box-shadow: 0 0 20px 4px #f75c14, inset 0 0 20px 4px #f75c14;
    }
}