{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
</head>

<body>


    <h2 id="elementoJugador"></h2>
    <h3 id="elementoPosicion"></h3>
    <h2 id="elementoEnemigo"></h2>

    <h2>=======================================</h2>


    <h3>Elige una direccion:</h3>
    <form action="" id="movimiento">
        <input type="text" id="inputDireccion">
        <button type="submit">Enviar</button>
    </form>
    <ul>
        <li>Arriba</li>
        <li>Abajo</li>
        <li>Izquierda</li>
        <li>Derecha</li>
    </ul>

    <div class="contenedorTexto">

    </div>

    <script src="{% static 'js/textBasedGame.js' %}"></script>
</body>
</html>