{% load static %}

<!DOCTYPE html>
<html lang="es" class="lenis lenis-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Ortega</title>
    <link rel="stylesheet" href="{% static 'css/port.css' %}">
    <link rel="stylesheet" href="{% static 'css/port2.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>

<body>


    <div class="wrapper">
        <nav class="barraNavegacion">

            <div class="nombreCont">
                <h1 class="nombre">NICOLAS ORTEGA</h1>
            </div>

            <div class="navMenu">
                <a href="#sobreMi" class="navItem">Sobre mí</a>
                <a href="#portfolio" class="navItem">Portafolio</a>
                <a href="#contact" class="navItem">Contacto</a>
            </div>

            <div class="palabrasClave">
                <span class="palabraClave clave1">Creativo</span>
                <span class="palabraClave clave2">Detallista</span>
                <span class="palabraClave clave3">Dedicado</span>
            </div>
        </nav>
    </div>

    <div class="contSpotlight">
        <div class="spotlight"></div>
    </div>

    <main class="mainContent">

        <div class="contenedorLed">

            <div class="fotoWrap">
                <img src="{% static 'img/Tamma.jpg' %}" class="yoMismisimo">
            </div>
            <h2 class="head2 ledhead">Nicolas Ortega</h2>

            <p class="parrafo white fromSideP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae facere qui
                distinctio
                fugit officia veniam eius consequuntur obcaecati soluta laudantium quaerat temporibus, corrupti
                pariatur
                numquam tempore dolorem rerum maxime culpa?</p>
        </div>

        <div class="contenedorLed">

            <h2 class="head2 ledhead">Formacion</h2>

            <p class="parrafo white fromSideP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia quasi
                facere
                iste
                laudantium libero eaque error officiis nemo commodi? Mollitia, assumenda! Doloribus consectetur
                ab
                dolorem dolore magnam necessitatibus maxime!</p>

        </div>

        <div class="contenedorLed">
            <h2 class="head2 ledhead">Pasatiempos</h2>

            <p class="parrafo white fromSideP">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut culpa sint
                dicta
                blanditiis distinctio dolorem praesentium, delectus consequatur accusamus aspernatur amet vel
                iure,
                ratione recusandae unde qui quibusdam. Nobis, debitis.</p>
        </div>

    </main>


    <section class="contentCrazy">

        <div class="turboGrid">

            <div class="gridCont expCont">
                <h2 class="head2 ledhead">Formacion</h2>
                <p class="parrafo white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
                    minima
                    blanditiis molestias dicta veniam repellendus enim itaque magni cupiditate doloremque
                    nostrum
                    distinctio sint, vitae, qui tempora ea officiis nemo animi?</p>
            </div>

            <div class="gridCont comen1">
                <p class="parrafo white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi,
                    dignissimos quidem vero sequi
                    veniam impedit! Nesciunt officia facere, provident autem aliquam fuga minus numquam
                    explicabo nisi
                    deserunt perspiciatis veniam.</p>

            </div>

            <div class="gridCont comen2">
                <p class="parrafo white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi,
                    dignissimos quidem vero sequi
                    veniam impedit! Nesciunt officia facere, provident autem aliquam fuga minus numquam
                    explicabo nisi
                    deserunt perspiciatis veniam.</p>
            </div>

            <div class="gridCont comen3">
                <p class="parrafo white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi,
                    dignissimos quidem vero sequi
                    veniam impedit! Nesciunt officia facere, provident autem aliquam fuga minus numquam
                    explicabo nisi
                    deserunt perspiciatis veniam.</p>
            </div>

            <div class="gridCont comen4">
                <p class="parrafo white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi,
                    dignissimos quidem vero sequi
                    veniam impedit! Nesciunt officia facere, provident autem aliquam fuga minus numquam
                    explicabo nisi
                    deserunt perspiciatis veniam.</p>
            </div>

            <div class="gridCont tecsCont">
                <h2 class="head2 ledhead">Estoy habituado a trabajar con</h2>

                <div class="tecIconList">
                    <img src="{% static 'img/python.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/django.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/html.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/css.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/js.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/git.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/sql.png' %}" alt="" class="imgIcon">
                    <img src="{% static 'img/java.png' %}" alt="" class="imgIcon">
                </div>
            </div>

            <div class="gridCont expDetalle">

                <div class="exp">
                    <h2 class="head2 ledhead">Exp</h2>

                    <p class="parrafo white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut culpa
                        sint
                        dicta
                        blanditiis distinctio dolorem praesentium, delectus consequatur accusamus aspernatur
                        amet vel
                        iure,
                        ratione recusandae unde qui quibusdam. Nobis, debitis.</p>
                </div>

                <div class="exp">
                    <h2 class="head2 ledhead">Exp</h2>

                    <p class="parrafo white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut culpa
                        sint
                        dicta
                        blanditiis distinctio dolorem praesentium, delectus consequatur accusamus aspernatur
                        amet vel
                        iure,
                        ratione recusandae unde qui quibusdam. Nobis, debitis.</p>
                </div>
            </div>


        </div>
    </section>

    <script src="https://unpkg.com/@studio-freight/lenis"></script>
    <script src="{% static 'js/port.js' %}"></script>
</body>
</html>